*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.container {
 display: grid;
 grid-template-columns: 400px 400px 400px;
 grid-template-rows:auto auto auto auto auto  ;
 gap: 10px;
 margin:10px;
}

.header{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
    background-color: skyblue;
    text-align: center;
    height: 50px;
    padding-top:30px ;
    margin-left: 30px;
}
.container-2{
    display: grid;
    grid-template-columns: 200px 600px;
    grid-template-rows: auto ;
    gap: 10px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
}
.hero{
    display: grid;
    grid-row:1 ;
    grid-column-start: 1;
    grid-column-end: 1;
    background-color: burlywood;
     margin-left: 30px;
    padding: 10px;
    text-align: center;
    height: 90px;

}

.main-content{
    display: grid;
    grid-row:1;
    grid-column-start: 2;
    grid-column-end: 2;
    background-color: gold;
    margin-left: 10px;
    padding: 30px;
    text-align: center;
    height: 50px;
    height: 70px;
}
    .sideber{
        display: grid;
        grid-row:1;
       grid-column-start: 1;
    grid-column-end: 1;
    background-color: greenyellow;
    margin-left: 30px;
    padding: 30px;
    text-align: center;
    height: 50px;
    margin-top: 120px;
    height: 50px;

        }

        .extra-content{
            display: grid;
            grid-row:1;
            grid-column-start: 2;
            grid-column-end: 2;
            background-color: gray;
            margin-left: 10px;
            margin-top: 140px;
            padding: 30px;
            text-align: center;
            height: 30px;
        }
.container-3{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto ;
    gap: 10px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 3;
}
.related-image{
    display: grid;
    background-color: green;
    margin-left: 30px;
    height: 50px;
   width: 500px;
   grid-row: 1;
   text-align: center;
   padding-top: 20px;
}
.related-post{
    display: grid;
    background-color:pink;
    height: 50px;
   width: 270px;
   grid-row: 1;
   text-align: center;
   padding-top:20px;
}
.footer{
    display: grid;
    grid-template-columns: auto;
    grid-row: auto;
    grid-row: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-left:30px;
    height: 50px;
    text-align: center;
    padding-top: 20px;
    background-color: orange;
}

@media screen and (min-width:320px )and (max-width:480px) {
    *{
        padding: 0;
        margin: 0;
        scroll-behavior: smooth;
    }
    .container{
        display: grid;
        grid-row:auto auto auto auto auto auto auto auto auto;
        grid-column: auto;
        gap: 0;
        
    }
    .header{
        display: grid;
        grid-row: 1;
        grid-column: 1;
        width: 160px;
        height: 20px;
        text-align: center;
        padding: 10px;
    }
    .container-2{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
    }
    .main-content{
        display: grid;
        grid-row: 1;
        grid-column: 1;
        height: 60px;
        width: 180px;
        padding: 0;
        margin-top: 10px;
        margin-left:30px;
    }
    .hero{
        display: grid;
        grid-row: 1;
        grid-column: 1;
        padding: 0;
        margin-top: 80px;
        width: 180px;
        height: 30px;
        
    }

    .sideber{
        display: grid;
        grid-row: 1;
        grid-column: 1;
        padding: 0;
        width: 180px;
        height: 30px;
    }
    .extra-content{
        display: grid;
        grid-row: 1; 
        grid-column: 1;
        padding: 0;
        width: 180px;
        margin-top: 160px;
        margin-left: 30px;
    }
    .container-3{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        gap: 0;

    }
    .related-image{
        display: grid;
        grid-column: 1 ;
        grid-row: 1;
        padding: 0;
        width: 180px;
        height: 30px;
    
    }
     .related-post{
        display: grid;
        grid-column: 1;
        grid-row: 1;
        padding: 0;
        width: 180px;
        height: 30px;
        margin-top: 40px;
        margin-left: 30px;

     }
     .footer{
        display: grid;
        grid-column: 1;
        grid-row: 4;
        width: 180px;
        height: 30px;
        margin-top: 10px;
     }
       }

       @media screen and (min-width:481px )and (max-width:768px) {

        *{
            padding: 0;
            margin: 0;
            scroll-behavior: smooth;
        }
        
          .container{
            display: grid;
            grid-template-columns:400px 400px ;
            grid-template-rows: auto auto auto auto auto ;
            gap: 0;
          }
     .header{
    display: grid;
    grid-column: 1;
    grid-row: 1;
    height: 30px;
    width: 180px;
    padding: 0;

   }
.container-2{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows:auto ;
    padding: 0;
    margin: 0;
}
.main-content{
    display: grid;
    grid-row: 1;
    grid-column: 1;
    width: 180px;
    height:60px;
    padding: 0;
    margin: 0;
    margin-left: 30px;
    margin-top: 4px;
}
.hero{
    display: grid;
    grid-row: 1;
    grid-column-start: 1;
    width: 90px;
    height:60px;
    padding: 0;
    margin: 0;
    margin-left: 30px;
    margin-top: 70px;
}
 .sideber{
    display: grid;
    grid-row: 1;
    grid-column:1;
    width: 85px;
    height:60px;
    padding: 0;
    margin: 0;
    margin-left: 125px;
    margin-top: 70px;
 }
.extra-content{
    display: grid;
    grid-row: 1;
    grid-column: 1;
    width: 180px;
    height: 30px;
    padding: 0;
    margin-left: 30px;
    margin-top: 135px;
}
.container-3{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows:auto ;
    padding: 0;
    margin: 0;
}
.related-image{

    display: grid;
    grid-column: 1;
    grid-row: 1;
    width: 90px;
    height: 30px;
    padding: 0;
    margin-top: 5px;

}
.related-post{
    display: grid;
    grid-row: 1;
    grid-column: 1;
    width: 85px;
    height: 30px;
    padding: 0;
    margin-top: 5px;
    margin-left: 125px;
}
 
.footer{
    display: grid;
    grid-row: 4;
    grid-column: 1;
    width: 180px;
    height: 30px;
    margin-top: 2px;
    padding: 0;
}
       }
     @media screen and(min-width:1025px) and(max-width:1200px) {
         *{
            margin: 0;
            padding: 0;
            scroll-behavior: smooth;
         }
         .container{
            display: grid;
            grid-template-columns: 600px 600px;
            grid-template-rows: auto auto auto auto auto auto;
            gap: 0;
           
         }
         .header{
            display: grid;
            grid-row: 1;
            grid-column: 1;
            padding: 0 ;
            margin: 0;
            width: 30px;
         }
       
       }
